.video-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.video-grid video {
  width: 500px;
  height: 400px;
  background: black;
  border-radius: 12px;
  object-fit: cover;
}
